# PORT
PORT=8000

# NODE ENVIRONMENT
NODE_ENV=local

# ORIGIN
ORIGIN=*

# MONGO URL
MONGO_URL=

# REDIS CONFIG
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME="default"
REDIS_PASSWORD=

# SUPER ADMIN ID
SUPER_ADMIN_ID=

# GMAIL CREDENTIALS (NODE MAILER)
GMAIL=
GMAIL_APP_PASSWORD=

# GOOGLE LOGIN
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# COOKIE PARSER SECRET
COOKIE_PARSER_SECRET=

# ACCESS TOKEN
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=

# REFRESH TOKEN
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

# ADMIN ACCESS TOKEN
ADMIN_ACCESS_TOKEN_SECRET=
ADMIN_ACCESS_TOKEN_EXPIRY=

# ADMIN REFRESH TOKEN
ADMIN_REFRESH_TOKEN_SECRET=
ADMIN_REFRESH_TOKEN_EXPIRY=